@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Blackhawk";
  src: url("/Fonts/3d0e9b2d-4de0-4c48-a786-9fce71536001.woff") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #1d1d1d;
  color: #f4f4f4;
}

::-webkit-scrollbar {
  width: 10px; /* Change scrollbar width */
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #ed6f07; /* Change thumb color */
  /* Add rounded corners */
}

/* Customize the scrollbar track on Firefox */
* {
  scrollbar-width: thin; /* Change scrollbar width on Firefox */
}

*::-webkit-scrollbar-track {
  background: #1d1d1d; /* Change track color on Firefox */
}

*::-webkit-scrollbar-thumb {
  background: #ed6f07; /* Change thumb color on Firefox */
  border-radius: 5px; /* Add rounded corners on Firefox */
}

@keyframes fade-slide-in {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-slide-in {
  animation: fade-slide-in 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
